body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    overflow: hidden;
}

h1 {
    font-size: 80px;
    padding-top: 100px;
    margin-bottom: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

h2 {
    font-weight: 400;
    margin-top: 0px;
}

h3 {
    font-weight: 400;
    text-align: center;
}

h6 {
    margin: 0px;
}

.thin-paragraph{
    font-size: 30px;
    font-weight: 100;
    margin: 0;
    opacity: 0.75;
}

.header {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 220px;
    height: 80px;
    display: inline-block;
    transition-duration: 1s;
}

.orange-text {
    color: rgb(233 151 16);
}

.second-paragraph {
    margin-bottom: 50px;
}

.primary-button {
    text-decoration: none;
    background-color: rgba(233, 151, 16, 0.80);
    border: none;
    padding: 10px 15px;
    color: black;
    border-radius: 5px;
    font-weight: 400;
    /* position: fixed;
    bottom: 2%; */
}

.primary-button:hover {
    background-color: rgba(233, 151, 16);
    cursor: pointer;
}

.secondary-button {
    background-color: rgba(233, 151, 16, 0);
    padding: 10px 15px;
    color: rgba(233, 151, 16, 0.80);
    border-radius: 5px;
    border-width: 1.5px;
    border-style: solid;
    border-color: rgba(233, 151, 16, 0.60);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.secondary-button:hover {
    cursor: pointer;
    background-color: rgba(233, 151, 16, 0.6);
    border-color: rgba(233, 151, 16, 0.2);
    color: black;
    font-weight: 300;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

li {
    display: inline;
}

ul li i{
    color: rgba(233, 151, 16, 0.60);
    cursor: pointer;
}

ul li i:hover {
    color: rgb(233, 151, 16);
}

.icons-footer {
    position: fixed;
    bottom: 10%;
    /* padding-top: 150px; */
}

/* Hiding the arrows on the input number */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

/* -------------------- dark mode / light mode -------------------- */

.light-mode {
    color: black;
    padding-left: 15%;
    padding-right: 20%;
    height: 100vh;
    transition-duration: 1s;
}

.dark-mode {
    color: #e6e6e6;
    padding-left: 15%;
    padding-right: 20%;
    height: 100vh;
    background-color: #121212;
    transition-duration: 1s;
}

.dark-mode-icon {
    color: rgba(250, 250, 250, 0.60);
    transition-duration: 1s;
}

.dark-mode-icon:hover {
    color: rgba(250, 250, 250, 0.80);
}

/* -------------------- CAROUSEL -------------------- */

.slider-wrapper {
    overflow: hidden;
    height: 65vh;
}

.slides-container {
    height: 65vh;
    width: 100%;
    display: flex;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide-arrow {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 100ms;
    align-content: center;
}

#slide-arrow-prev {
    height: 12px;
}

#slide-arrow-next {
    border-radius: 2rem 0 0 2rem;
    height: 12px;
}

.slide {
    flex: 1 0 100%;
    height: 65vh;
}

.slide:nth-child(1) {
    background-image: url(images/pastel-de-nata.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: bottom 20% right;
}

.slide:nth-child(2) {
    background-image: url(images/bolo-arroz.png);
    background-size: 18%;
    background-repeat: no-repeat;
    background-position: bottom 20% right 10%;
}

.slide:nth-child(3) {
    background-image: url(images/bola-de-berlim.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: bottom 25% right;
}


/* -------------------- MODALS -------------------- */


/* Overlay on the background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

.overlay {
    background-color: rgba(0,0,0,0.4);
}

/* modal */
.light-modal {
    background-color: #fff;
    margin-left: 75%;
    padding: 0% 2.5% 2.5% 2.5%;
    border-radius: 0px 0px 0px 10px;
    text-align: right;
    height: 100%;
}

.modal-header-light {
    background-color: #fff;
    margin-left: 75%;
    padding: 2.5%;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dark-modal {
    background-color: #1e1e1e;
    color: #e6e6e6;
    margin-left: 75%;
    padding: 0% 2.5% 2.5% 2.5%;
    border-radius: 0px 0px 0px 10px;
    text-align: right;
    height: 100%;
}

.dark-modal hr{
    color: rgba(250, 250, 250, 0.20);
    margin: 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
}

.modal-header-dark {
    background-color: #1e1e1e;
    color: #e6e6e6;
    margin-left: 75%;
    padding: 2.5%;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Close and back Buttons */
.header-icon {
    color: rgba(0, 0, 0, 0.40);
}

.header-icon:hover {
    color: rgba(0, 0, 0, 0.60);
    text-decoration: none;
    cursor: pointer;
}


.dark-mode-button {
    color: rgba(250, 250, 250, 0.60);
    transition-duration: 1s;
}

.dark-mode-button:hover {
    color: rgba(250, 250, 250, 0.80);
}


.card-title {
    text-align: center;
}

/* Items modal */
.item-image {
    width: 80px;
}

.item-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px 0px;
}

.item-name {
    margin: 5px 0px 5px 0px;
    font-size: 16px;
}

.item-and-counter {
    display: flex;
    flex-direction: column;
}

.bolo-de-arroz {
    height: 61px;
    padding-left: 15px;
}

hr {
    color: rgba(0, 0, 0, 0.10);
    margin: 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
}

#minusButton {
    font-size: 18px;
    padding: 4px 8px 4px 8px;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
    width: 25px;
}

#plusButton {
    font-size: 18px;
    padding: 4px 9px 4px 7px;
    border-radius: 0px 5px 5px 0px;
    border-left: 0px;
    width: 25px;
}

.flex-items-and-buttons {
    display: flex;
    flex-direction: column;
    height: 78%;
}

.align-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 238px;
}

.total-and-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* class to disable the buttons */
.disabled {
    background-color: rgba(143, 143, 143, 0.40);
    border: none;
    cursor: default;
    padding: 10px 15px;
    color: rgba(143, 143, 143, 0.80);
    border-radius: 5px;
}

#finishButton {
    width: 100%;
    margin-top: 30px;
}

/* Payment modal */
#paymentModal {
    display: none;
}

.total-div {
    padding: 15px 0px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.your-details {
    padding-top: 65px;
}

.items-and-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* form */
input[type="number"] {
    text-align: center;
    background: none;
    font-size: 18px;
    color: rgba(233, 151, 16, 0.80);
    margin: 0px -5px 0px -5px;
    padding: 4px 2px 4px 2px;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgba(233, 151, 16, 0.60) rgba(233, 151, 16, 0.20) rgba(233, 151, 16, 0.60) rgba(233, 151, 16, 0.20);
    width: 38px;
}

.payment-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-label-and-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

input[type="text"]{
    border: none;
    background-color: #eeac522b;
    border-radius: 5px;
    height: 30px;
    width: 60%;
    padding-left: 3%;
    color: rgb(233, 151, 16);
}

input[type=text]:focus{
    border: 1px solid rgb(233, 151, 16);
}

input::placeholder {
    opacity: 0.5;
}

input[type='radio']:checked:after{
    color: rgb(233, 151, 16);
}

#yesLabel, #noLabel {
    opacity: 0.5;
}

.no-label {
    padding-left: 20px;
}

.radio-inputs{
    display: flex;
    flex-direction: row;
    width: 60%;
}

form p{
    margin: 0px;
}

/* Thank you modal */
.thankyou-text-and-button{
    display: flex;
    flex-direction: column;
}

.thankyou-text {
    padding: 30px 0px;
    text-align: center;
}

#usersName, #usersAddress, #randomYears {
    font-weight: 400;
}

/* hiding last pass icon from appearing and changing the styles */
div[data-lastpass-icon-root] {
    display: none;
}

/* ----------------- RESPONSIVE ----------------- */

@media (max-width: 1120px) {
    body {
        overflow: hidden;
    }

    .light-modal {
        margin-left: 60%;
    }

    .modal-header-light {
        margin-left: 60%;
    }

    .dark-modal {
        margin-left: 60%;
    }

    .modal-header-dark {
        margin-left: 60%;
    }
}

@media (max-width: 850px) {
    body {
        text-align: center;
        margin: 0px;
        overflow: hidden;
    }

    h1 {
        font-size: 65px;
        padding-top: 0px;
        margin-top: 0px;
    }

    .dark-mode{
        padding: 0px;
        background-size: 42%;
        background-position: center top 68%;
        height: 100vh;
    }

    .light-mode{
        padding: 0px;
        background-size: 42%;
        background-position: center top 68%;
        height: 100vh;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 60px;
    }

    .second-paragraph{
        margin-bottom: 250px;
    }

    .icons-footer{
        position: fixed;
        bottom: 10%;
        left: 45%;
        /* padding-top: 10%; */
    }

    .align-bottom {
        padding-top: 238px;
    }

    .button-position{
      position: fixed;
      bottom: 2%;
      /* left: 33%; */
      transform: translate(-50%, -50%);
    }

    /* SLIDES */
    .slide:nth-child(1) {
        background-image: url(images/pastel-de-nata.png);
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: bottom 35% right 50%;
    }

    .slide:nth-child(2) {
        background-image: url(images/bolo-arroz.png);
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: bottom 35% right 50%;
    }

    .slide:nth-child(3) {
        background-image: url(images/bola-de-berlim.png);
        background-size: 25%;
        background-repeat: no-repeat;
        background-position: bottom 35% right 50%;
    }

    .slides-container{
        height: 65vh;
    }

    /* MODALS */

    .light-modal {
        margin-left: 15%;
        padding: 0% 5% 5% 5%;
    }

    .modal-header-light {
        margin-left: 15%;
        padding: 5%;
    }

    .dark-modal {
        margin-left: 15%;
        padding: 0% 5% 5% 5%;
    }

    .modal-header-dark {
        margin-left: 15%;
        padding: 5%;
    }

    .align-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 238px;
    }
}

@media (max-width: 470px) {
    body {
        overflow: hidden;
    }

    .header {
        padding: 20px 30px;
    }

    .logo {
        width: 180px;
    }

    h1 {
        margin-top: 30px;
        font-size: 50px;
    }

    .thin-paragraph {
        font-size: 23px;
    }

    /* SLIDES */
    .slide:nth-child(1) {
        background-image: url(images/pastel-de-nata.png);
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: bottom 30% right 50%;
    }

    .slide:nth-child(2) {
        background-image: url(images/bolo-arroz.png);
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: bottom 25% right 50%;
    }

    .slide:nth-child(3) {
        background-image: url(images/bola-de-berlim.png);
        background-size: 32%;
        background-repeat: no-repeat;
        background-position: bottom 30% right 50%;
    }
}
